/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-a90f17ac {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(71, 98, 111);
		 font-family: Montserrat;
		 text-align: center;
	}
	.__pf .pf-17ac9b2c {
		font-family: Montserrat;
		 color: rgb(71, 98, 111);
	}
	.__pf .pf-3ae2a229 {
		padding-top: 100px;
	}
	.__pf .pf-c4079778 {
		color: rgb(202, 136, 93);
		 font-family: Montserrat;
		 text-transform: uppercase;
		 letter-spacing: 2px;
	}
	.__pf .pf-a9111e3f {
		text-align: justify;
	}
	.__pf .pf-cdba425f {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-aa947fc9 {
		text-align: justify;
	}
	.__pf .pf-69ed0b51 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-2d8c6b18 {
		text-align: justify;
	}
	.__pf .pf-ca593fd6 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-ee828aeb {
		text-align: justify;
	}
	.__pf .pf-e307f16f {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-a1991577 {
		text-align: justify;
	}
	.__pf .pf-11b29f3c {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-9944bac5 {
		text-align: justify;
	}
	.__pf .pf-cb73d66f {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-e9cfda23 {
		text-align: justify;
	}
	.__pf .pf-77a6f281 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-60d577a0 {
		text-align: justify;
	}
	.__pf .pf-782635cf {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-82b633ae {
		text-align: justify;
	}
	.__pf .pf-22a868b2 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-ba9842df {
		text-align: justify;
	}
	.__pf .pf-22f34a26 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-7f78a4c7 {
		text-align: justify;
	}
	.__pf .pf-6c323549 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-8ee51d3f {
		text-align: justify;
	}
	.__pf .pf-874b7b94 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-aa5d9751 {
		text-align: justify;
	}
	.__pf .pf-e68615f3 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-e5f8b074 {
		text-align: justify;
	}
	.__pf .pf-b228c43c {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-5a483b70 {
		text-align: justify;
	}
	.__pf .pf-f4ad4288 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-068cd40b {
		text-align: justify;
	}
	.__pf .pf-7c500095 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-268a020c {
		text-align: justify;
	}
	.__pf .pf-31f265f0 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-83d4a560 {
		text-align: justify;
	}
	.__pf .pf-dbcc3474 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-e198bbed {
		text-align: justify;
	}
	.__pf .pf-f486c614 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-995cec53 {
		text-align: justify;
	}
	.__pf .pf-7310bb6f {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-67aacb8d {
		text-align: justify;
	}
	.__pf .pf-cf391a95 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(202, 136, 93);
		 font-family: Montserrat;
	}
	.__pf .pf-b319fffc {
		text-align: justify;
	}
	.__pf .pf-d9f7bd8d {
		padding-bottom: 100px;
	}
}
						

 