

 
.main-content {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
div.content {
   padding-bottom: 0px;
}
element.style {
    padding: 1px;
}
.container {
    max-width: 100%;
    }
#shopify-section-footer {
	padding-Left: 50px !important;
    margin-Left: 50px !important;
	padding-right: 50px !important;
    margin-right: 50px !important;
}