/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-19c8baa9 {
		text-align: center;
	}
	.__pf .pf-08d177d0 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/bannerdogpackingjpg-1516917361844.jpg");
		 text-align: right;
	}
	.__pf .pf-fe5901f8 {
		width: 300px;
	}
	.__pf .pf-0cfdf942 {
		font-family: Montserrat;
		 color: rgb(71, 98, 111);
	}
	.__pf .pf-963d46ae {
		text-align: center;
	}
	.__pf .pf-339e003f {
		color: rgb(71, 98, 111);
		 font-family: Montserrat;
	}
	.__pf .pf-d37958dc {
		text-align: center;
	}
	.__pf .pf-58dce0a8 {
		text-align: center;
	}
	.__pf .pf-b6415bf6 {
		text-align: center;
		 text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(71, 98, 111);
		 font-family: Montserrat;
	}
	.__pf .pf-a75f313e {
		font-family: Montserrat;
		 color: rgb(71, 98, 111);
	}
	.__pf .pf-d728763d {
		text-align: center;
	}
	.__pf .pf-a32ecc5a {
		color: rgb(71, 98, 111);
		 font-family: Montserrat;
	}
	.__pf .pf-8de3c447 {
		text-align: center;
	}
	.__pf .pf-19cdbf0b {
		text-align: center;
	}
	.__pf .pf-bf0b4efe {
		text-align: center;
	}
	.__pf .pf-33003dd7 {
		color: rgb(145, 157, 169);
		 font-size: 1px;
	}
	.__pf .pf-dd6eb2c4 {
		text-align: center;
		 text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(71, 98, 111);
		 font-family: Montserrat;
	}
	.__pf .pf-4d84191f {
		text-align: justify;
		 text-align-last: center;
	}
	.__pf .pf-9a46b666 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: rgb(71, 98, 111);
		 font-family: Montserrat;
	}
	.__pf .pf-b666ba9a {
		font-size: 2em;
		 background-color: transparent;
		 color: rgb(71, 98, 111);
	}
	.__pf .pf-ba9a5699 {
		text-align: center;
	}
}
						

 