<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|PT+Serif:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.0/css/main-style.css?t=20210107150103"><link rel="stylesheet" href="{{ 'pagefly.04a42d6e.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-fd77159b"><div data-pf-type="Layout" class="pf-a824fd77"><div data-container="true" class="sc-pZopv bjKdkd pf-876f79d8" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-bcd5876f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1c1ebcd5" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e7361c1e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2bc0e736">Privacy Policy</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-596aa824" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-0a85596a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-01630a85" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-fc65ba3c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6204fc65">PRIVACY POLICY&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-5dfe734b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-097d5dfe">This Website is owned and operated by ZUMI Inc. a Nevada corporation, under the domain name zumidog.com (the “Website”). 
<br>
<br>We love all animals! We especially love our pets, our customers and our customers’ pets. We realize that you have other options, and we appreciate that you have chosen ZUMI products. We strive to provide the highest quality pet products, and we extend that ambition to our online sales. We understand that you are concerned about your security, privacy and the confidentiality of information we may gain about you online. We are committed to respecting your privacy. 
<br>
<br>Throughout this Privacy Policy we refer to your “personal information” which means information about you as an individual or from which your identity can be reasonably ascertained. Your home address and home telephone number are examples of personal information. 
<br>
<br>This Privacy Policy explains our policy for handling personal information, which you provide to us as you access and interact with this Website. 
<br>
<br>We will post any changes to this Privacy Policy on this Website, so we encourage you to check this Privacy Policy from time to time. 
<br>
<br>In addition to the provisions of this Privacy Policy, there may also be specific and additional privacy provisions which apply to certain parts of this Website. You should review such additional provisions where applicable. In the event of any inconsistency between the provisions of this Privacy Policy and those specific and additional provisions, the specific and additional provisions will prevail. 
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-729f2f11"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-55f1729f">SHOPIFY</span></h4><p class="sc-oUAoT HrWqm pf-5c6692dd" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-df585c66">Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.
<br>
<br>Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.
<br>
<br>
<br>Payment:
<br>
<br>If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.
<br>
<br>All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
<br>
<br>PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
<br>
<br>For more insight, you may also want to read Shopify’s Terms of Service here or Privacy Statement here.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-77928f29"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3c387792">INFORMATION COLLECTED AND HOW WE USE IT&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-16c8f84d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b8aa16c8">The information about you, which we may collect through this Website varies depending on how you use this Website. We will collect information through any electronic forms you submit via this Website, or other messages you send us by Email. 
<br>
<br>In common with many Websites, we may collect information such as the date and time of your visit to this Website, the pages accessed and any information downloaded. This information does not identify you as an individual and is used for statistical, reporting and Website administration and maintenance purposes only. 
<br>
<br>While you may browse some information-only areas of this Website without providing any personal information, we may not be able to provide you with the full range of services through this Website if you do not provide us with the information outlined above. 
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f8190887"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2fddf819">EMAILING US&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-b2d01513" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ca5db2d0">Unless otherwise stated, when you send us an Email, the contents of your Email and your Email address is used by us strictly to respond to your inquiry, purchase or subscribing to our mailing list.&nbsp;<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-8056a73f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-18018056">COOKIES</span></h4><p class="sc-oUAoT HrWqm pf-b5f73289" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0ccfb5f7">Like many Websites, this Website may store some information on computers that access this Website. This information will be in the form of a “cookie” or similar file and will help us in many ways. For example, we may use cookies to recognize a browser that has previously visited this Website and customize this Website according to previous preferences and site behavior. Cookies may also be used by this Website to manage security, manage forms and store information about the type of browser being used. 
<br>
<br>With most Internet browsers, users can erase cookies from their computer’s hard drive, block all cookies, or receive a warning before a cookie is stored. However, some parts of this Website may not function fully for users that disallow cookies. 
<br>Here is a list of cookies that we use. We’ve listed them here so you can choose if you want to opt-out of cookies or not.
<br>
<br>_session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc).
<br>
<br>_shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider’s internal stats tracker to record the number of visits
<br>
<br>_shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer.
<br>
<br>cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.
<br>
<br>_secure_session_id, unique token, sessional
<br>
<br>storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4ae081c5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-27894ae0">CONSENT</span></h4><p class="sc-oUAoT HrWqm pf-cd3090d4" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b582cd30">How do you get my consent?
<br>
<br>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
<br>
<br>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
<br>
<br>
<br>How do I withdraw my consent?
<br>
<br>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at team@zumidog.com or mailing us at: ZUMI. 6720 N Hualapai Way, Suite 145 - #359, Las Vegas, NV, 89149, United States
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b8517123"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d378b851">USE AND DISCLOSURE OF INFORMATION&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-6009df1f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d6706009">We will use or disclose personal information we collect through this Website: 
<br>1. To provide you with products or services requested by you; 
<br>2. Where you have consented to the use or disclosure; 
<br>3. Where we have notified you of the intended use or disclosure; 
<br>4. For the purposes for which we collected it, and for related purposes which you would reasonably expect, which may include: 
<br>
<br>subject to complying with the direct marketing requirements under applicable law, providing you with information relating to ZUMI or promotional details about products and services that may be of interest to you, unless you have previously advised us that you do not wish to be contacted for those purposes; 
<br>
<br>ZUMI’s research (including market research), planning, service development, security, testing and risk management; 
<br>
<br>the operation, administration, development or enhancement of this Website; 
<br>
<br>where a third party acquires, or wishes to acquire, an interest in ZUMI; and 
<br>
<br>where we believe that the use or disclosure is reasonably necessary to assist a law enforcement agency, where fraud is suspected, or where ZUMI is authorized, required or permitted by law to disclose the information; and 
<br>
<br>as otherwise required or authorized under the law. 
<br>
<br>We may provide personal information we collect through this Website to third parties. The types of third parties to whom we would usually disclose that personal information may include: 
<br>1. Our service providers who assist us in providing this Website and our products and services (for example internet and technology service providers, mail houses, call centers, and delivery companies); 
<br>2. Organizations with whom we have co-promotional arrangements (and any agents used in administering such arrangements); and 
<br>3. Our related bodies corporate, including, but not limited to, ZUMI. 
<br>
<br>We do not provide your personal information to third party organizations for their marketing purposes.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9262e1ae"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3c899262">THIRD-PARTY SERVICES</span></h4><p class="sc-oUAoT HrWqm pf-9332e639" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-39579332">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
<br>
<br>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
<br>
<br>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
<br>
<br>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
<br>
<br>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.
<br>
<br>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-342904e3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d0a83429">Third Party Analytics Tools
<br></span></h4><p class="sc-oUAoT HrWqm pf-1db5603f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f62d1db5">Beyond the personally identifiable information you voluntarily provide to us, ZUMI. utilizes analytics tools including third party technologies, such as Google Analytics, to collect non-personally identifiable information utilizing cookies. Certain information, including geolocation, devide type, onsite website usage and behavior, demographic data, and purchase history, is collected and aggregated across ZUMI.'s users for our analysis and advertising efforts.<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b0c2258c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9832b0c2">LINKS TO OTHER WEBSITES&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-8d3f565d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0fd88d3f">This Website may contain links to third party Websites. Any such linked Websites may contain their own privacy policies or statements and those third parties, and not ZUMI, are responsible for informing you about their security and privacy practices.<br>&nbsp;</span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0f55c581"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d77e0f55">SECURITY&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-1d2c78e7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a7271d2c">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
<br>
<br>If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
<br>
<br>We value the personal information you give us and use a number of mechanisms to protect the security and integrity of your personal information. Unfortunately, no data transmission over the Internet can be guaranteed as completely secure. So while we strive to protect such information, we cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk. Once any personal information comes into our possession, we will take reasonable steps to protect that information from misuse and loss and from unauthorized access, modification or disclosure. Please note that messages you send us by Email are not secure.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-cbaa819a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cc94cbaa">AGE OF CONSENT</span></h4><p class="sc-oUAoT HrWqm pf-613e592d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0ab8613e">By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0a9b05a5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f6ad0a9b">CHANGES TO THIS PRIVACY POLICY</span></h4><p class="sc-oUAoT HrWqm pf-f1c4a04c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d477f1c4">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
<br>
<br>If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0e0670f6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c2e20e06">ACCESS TO INFORMATION&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-6bb484f5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8c876bb4">If you wish to request access to any personal information which we hold about you as a result of our information collection practices outlined in this Privacy Policy, please contact us using the “Contact details” set out below. Please provide as much detail as you can about the particular information you seek, in order to help us retrieve it. An access fee may be charged to cover our costs of providing the information to you.&nbsp;<br><br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c070bbb0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ce76c070">CONTACT DETAILS&nbsp;</span></h4><p class="sc-oUAoT HrWqm pf-111d0163" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a3e5111d">If you have any questions or feedback about privacy, or wish to make a complaint about the way in which we have handled your personal information, you may contact us as set out below: 
<br>ZUMI 
<br>Attention: Web Manager 
<br>6720 N. Hualapai Way<br>Suite 145 - #359<br>Las Vegas, NV 89149&nbsp;<br>team@zumidog.com
<br><br></span></p></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.0","shopDomain":"zumi-dog.myshopify.com","elementData":{},"pageTitle":"Privacy Policy","pageType":"page","pageId":"04a42d6e-d028-4bad-a708-cbf1c68b1017","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-07T23:41:23.793Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.0/core/helper.js?t=20210107150103" defer></script>